@font-face {
    font-family: 'IRANSansWeb';
    src: url('fonts/ttf/IRANSansWeb.ttf');
}

body {
    direction: rtl;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "IRANSansWeb", sans-serif;
    background: black;
    color: white;
}

.body {
    padding: 32px;
}

.title {
    font-size: 32px;
    text-align: center;
}